.btn{
    color: aqua;
    font-weight: bolder;
    text-decoration: none;
}
table {
    text-align: center;
    margin: 20px;
    border-collapse: collapse; 
    border: 2px solid white;
}

th, td {
    border: 2px solid white; 
    padding: 10px; 
}

th {
    font-weight: bold; 
}
